ul {
    display:block;
    padding: 0;
    margin:0;
    background-color: var(--white);
    color:black;


}

#categoryList {
    display:flex;
    background-color: var(--grey);
    list-style-type:none;

}

.navlist {
    padding: 20px 50px;
    color: var(--white);
    background-color: var(--blue);
    margin-right: 10px;
    font-weight:bold;
    font-size: 25px;
    text-decoration:none;
}

.navlist:hover{
    background-color: var(--white);
    cursor: pointer;

}

.navlist a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navlist.aktiv { /*her kan jeg sette properties for det aktive listeelementet*/
    background-color: var(--white);
    color: black;
  }