#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  --blue: #2A324B;
  --purple: #58699D;
  --grey: #E1E5EE;
  --white: #fff;

}

body {
  background-color: #E1E5EE;
  font-family: "Montserrat", "serif";
}